body{
  background-color: #f2f2f2;
}

.btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 20px 50px;
    border-radius: 100px;
    font-size: 24px;
    line-height: 1.33;
}
/*nav bar styling */
.navbar{
    background-color: #22085F ;
  }
.nav-link{
    color: #FFF;
}

/* register and sign in styling */
/* taken from - https://www.wowthemes.net/bootstrap-4-split-screen-layout/ */
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: #22085F ; }
.text-cyan { color: #35bdff; }

.text-purp{
  color: #22085F;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.buttonSz{
  text-align: center;
  width:25px;
  height:25px;
}

.flashed{
  text-align: center;
  color: #e4ffdb;
  background-color:#69d943;
}
