{% extends "base.html" %}
 {% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
          <li>{{ message }} </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="{{ url_for('addEvent') }}" method="post" enctype="multipart/form-data">

      {{ form.hidden_tag() }}
      <p>
         {{form.title.label}} <br> <!-- sets the size of the input form -->
         {{ form.title(class="taskForm", cols="50", rows="1")}}
         <!-- highlights box red when the input doesnt pass the validation of the form -->
         {% for error in form.title.errors %}
           <span style="color: red;">[{{ error }}]</span>
         {% endfor %}<br>
      </p>
      <p>
         {{form.artist.label}} <br> <!-- sets the size of the input form -->
         {{ form.artist(class="taskForm", cols="50", rows="1")}}
         <!-- highlights box red when the input doesnt pass the validation of the form -->
         {% for error in form.artist.errors %}
           <span style="color: red;">[{{ error }}]</span>
         {% endfor %}<br>
      </p>
      <p>
         {{form.description.label}} <br> <!-- sets the size of the input form -->
         {{ form.description(class="taskForm", cols="100", rows="20")}}
         <!-- highlights box red when the input doesnt pass the validation of the form -->
         {% for error in form.description.errors %}
           <span style="color: red;">[{{ error }}]</span>
         {% endfor %}<br>
      </p>
      <p>
         {{form.location.label}} <br> <!-- sets the size of the input form -->
         {{ form.location(class="taskForm", cols="50", rows="1")}}
         <!-- highlights box red when the input doesnt pass the validation of the form -->
         {% for error in form.location.errors %}
           <span style="color: red;">[{{ error }}]</span>
         {% endfor %}<br>
      </p>
      <p>
        {{form.venue.label}} <br>
        {{ form.venue(class="descriptionForm", cols="50", rows="1")}}

      {% for error in form.venue.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>
      <p>
        {{form.poster.label}} <br>
        {{ form.poster(class="descriptionForm", cols="50", rows="1")}}

      {% for error in form.poster.errors %}
        <span style="color: red;">[{{ error }}]</span>
               {% endfor %}<br>
        <p>
          {{form.capacity.label}} <br>
          {{ form.capacity(class="descriptionForm", cols="50", rows="1")}}

        {% for error in form.capacity.errors %}
          <span style="color: red;">[{{ error }}]</span>
                 {% endfor %}<br>
          <p>
            {{form.price.label}} <br>
            {{ form.price(class="descriptionForm", cols="50", rows="1")}}

          {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
      </p>
     <p><input type="submit" value="Add event"></p>

  </form>
     </div>
{% endblock %}
