
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Uses Bootstap and my own style.css to format the page -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}} >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/Jquery.js"></script>
  <!--cookie consent-->
  <link rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
    data-cfasync="false"></script>
  </head>
  <body>

<!-- Navigation bar in base to keep every page of the website consistent -->
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="nav-item" id="nav-bar">
        <button class="btn btn-link" href="/home">
          <img src="/static/crown.png" height="30" />
        </button>
      </li>
      <li class="nav-item" id="nav-bar">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item" id="nav-bar">
        <a class="nav-link" href="/tickets">Tickets</a>
      </li>
      <li class="nav-item" id="nav-bar">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        {% if current_user.is_anonymous %}
        <a class="nav-link" href="{{ url_for('signIn') }}">Login</a>
        {% else %}
        <a class="nav-link" href="{{ url_for('logOut') }}">Logout</a>
        {% endif %}
      </li>
    </ul>
  </nav>
 <script src=src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
 <script>
   cookieconsent_example_util.initialisePopupSelector({
     cookieconsent: CookieConsent,
     selector: document.querySelector('.example-selector'),
     popups: {
       'Click me': {},
     }
     "popup":{
        "background": "#22085F",
        "text": "#FFF",
      }
   })
 </script>

    <div>

      {% block content %}{% endblock %}
    </div>

  </body>
</html>
