{% extends "base.html" %}
 {% block content %}
 <br><br>
 <div class="d-flex justify-content-center md-3">
 <h2>Buy tickets for {{event.title}}</h2>
 </div>
<br><br>
<div class="d-flex justify-content-center">
 <form action="" method="post" name="calculator">

     {{ form.hidden_tag() }}
     <p>
        {{form.name.label}} <br> <!-- sets the size of the input form -->
        {{ form.name(class="signInForm", cols="24", rows="1")}}
        <!-- highlights box red when the input doesnt pass the validation of the form -->
        {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
     </p>
     <p>
       {{form.cardNo.label}} <br>
       {{ form.cardNo(class="emailForm", cols="24", rows="1")}}
     {% for error in form.cardNo.errors %}
       <span style="color: red;">[{{ error }}]</span>
     {% endfor %}<br>
     </p>
     <p>
       {{form.cvc.label}} <br>
       {{ form.cvc(class="emailForm", cols="24", rows="1")}}
     {% for error in form.cvc.errors %}
       <span style="color: red;">[{{ error }}]</span>
     {% endfor %}<br>
     </p>

     <p>£{{event.price}}0 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Buy ticket"></p>
 </form>
 </div>
{% endblock %}
