{% extends "base.html" %}
 {% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
          <li>{{ message }} </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <br><br>
  <div class="text-center">
    <h1>{{current_user.username}}</h1>

     <form action="" method="post" name="calculator">
         {{ form.hidden_tag() }}
         <p>
            {{form.password.label}} <br> <!-- sets the size of the input form -->
            {{ form.password(class="signInForm", cols="24", rows="1")}}
        </p>
        <p>
           {{form.repeatPassword.label}} <br> <!-- sets the size of the input form -->
           {{ form.repeatPassword(class="signInForm", cols="24", rows="1")}}
       </p>
       <p><input type="submit" value="Change Password"></p>
      </form>
    <p id="response"></p>
  </div>



</div>
{% endblock %}
