{% extends "base.html" %}
 {% block content %}
 <div class="text-center">
   <br>
       <h1>Events</h1>
       <form action="{{ url_for('addEvent')}}" method="post">
         <input type="submit" value="Add your own event">
       </form>
         {% with messages = get_flashed_messages() %}
         {% if messages %}
           <ul>
           {% for message in messages %}
               <li>{{ message }} </li>
           {% endfor %}
           </ul>
         {% endif %}
       {% endwith %}
 </div>
 {% for event in events %}

 <div class="container">
      <br><br>

        <div class="row">
        <div class="col-sm-2.5">
            <img src={{event.image_filename}} class="rounded float-left" width="300"/>
             <!-- A button that callss the completed function when clicked and passes the current task id -->
        </div>

        <form action="{{ url_for('showEvent', id=event.id)}}" method="post">
          <button class="btn-block" type="submit" name="submit" id="{{event.id}}" View Profile</button>
        </form>
          <h1>{{event.title}}</h1>
          <h4>{{event.artist}} </h4>
          <h3>{{event.location}} <br>{{event.venue}}</h3>
          <h3>{{event.date}}</h3>
        </div>
      </div>

    </div>
  {% endfor %}
{% endblock %}
