{% extends "base.html" %}
 {% block content %}
 <div class="d-md-flex h-md-100 align-items-center">

 <!-- First Half -->

 <div class="col-md-6 p-0 bg-indigo h-md-100">
     <div class="d-flex justify-content-center pt-4">
         <div class="logoarea pt-5 pb-5">
               <img src="/static/crown.png" width="300" />
               <br><br><br><br><br><br>
               <div class="text-white text-center">
                 <h1>
                   Hi {{user.username}}
                 </h1>

               </div>
         </div>
     </div>
 </div>

 <!-- Second Half -->

 <div class="col-md-6 p-0 h-md-100 loginarea text-center">
     <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
       <div class="text-center">
         {% with messages = get_flashed_messages() %}
           {% if messages %}
             <ul>
             {% for message in messages %}
                 <li>{{ message }} </li>
             {% endfor %}
             </ul>
           {% endif %}
         {% endwith %}
         <h1>{{user.name}}</h1>
         <h2>{{user.email}}</h2>
         <form action="{{ url_for('tickets')}}" method="post">
           <input type="submit" value="View my Tickets">
         </form>
         <br><br><br>
         <form action="{{ url_for('changePassword')}}" method="post">
           <input type="submit" value="Change Password">
         </form>
     </div>
 </div>

 </div>
 {% endblock %}
