{% extends "base.html" %}
 {% block content %}


 <div class="d-md-flex h-md-100 align-items-center">

 <!-- First Half register -->

 <div class="col-md-6 p-0 bg-indigo h-md-100">
     <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
         <div class="logoarea pt-5 pb-5">
             <img src="/static/crown.png"/>
         </div>
     </div>
 </div>

 <!-- Second Half -->

 <div class="col-md-6 p-0 h-md-100 loginarea text-center">
    <h1> Register here</h1>
     <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
       {% with messages = get_flashed_messages() %}
         {% if messages %}
           <ul>
           {% for message in messages %}
               <li>{{ message }} </li>
           {% endfor %}
           </ul>
         {% endif %}
       {% endwith %}

       <form action="" method="post" name="calculator">

           {{ form.hidden_tag() }}
           <p>
              {{form.name.label}} <br> <!-- sets the size of the input form -->
              {{ form.name(class="taskForm", cols="24", rows="1")}}
              <!-- highlights box red when the input doesnt pass the validation of the form -->
              {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
           </p>
           <p>
              {{form.email.label}} <br> <!-- sets the size of the input form -->
              {{ form.email(class="taskForm", cols="24", rows="1")}}
              <!-- highlights box red when the input doesnt pass the validation of the form -->
              {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
           </p>
           <p>
              {{form.username.label}} <br> <!-- sets the size of the input form -->
              {{ form.username(class="taskForm", cols="24", rows="1")}}
              <!-- highlights box red when the input doesnt pass the validation of the form -->
              {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
           </p>
           <p>
             {{form.password.label}} <br>
             {{ form.password(class="descriptionForm", cols="50", rows="1")}}

           {% for error in form.password.errors %}
             <span style="color: red;">[{{ error }}]</span>
           {% endfor %}<br>
           </p>
           <p>
             {{form.repeatPassword.label}} <br>
             {{ form.repeatPassword(class="descriptionForm", cols="50", rows="1")}}

           {% for error in form.repeatPassword.errors %}
             <span style="color: red;">[{{ error }}]</span>
           {% endfor %}<br>
           </p>
          <p><input type="submit" value="Register"></p>

       </form>
     </div>
 </div>

 </div>


{% endblock %}
