{% extends "base.html" %}
 {% block content %}
 <h1 class="my-4">{{event.title}}
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src={{event.image_filename}} alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">{{event.title}}</h3>
      <p>{{event.description}}</p>
      <h3 class="my-3">{{event.location}}</h3>
        <h4>{{event.venue}}</h4>
        <h2>{{event.date}}</h2>
        <h4>£{{event.price}}0</h4>
        <form action="{{ url_for('buyTicket', id=event.id)}}" method="post">
          <input type="submit" value="Buy Ticket">
        </form>


    </div>

  </div>

{% endblock %}
