{% extends "base.html" %}
 {% block content %}


 <div class="d-md-flex h-md-100 align-items-center">

 <!-- First Half -->

 <div class="col-md-6 p-0 bg-indigo h-md-100">
     <div class="d-flex justify-content-center pt-4">
         <div class="logoarea pt-5 pb-5">
               <img src="/static/crown.png" width="300" />
               <br><br><br><br><br><br>
               <div class="text-white text-center">
                 <h1>
                   Create Memories
                 </h1>

               </div>
         </div>
     </div>
 </div>

 <!-- Second Half -->

 <div class="col-md-6 p-0 h-md-100 loginarea text-center">
     <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
       <div class="text-center">
         {% with messages = get_flashed_messages() %}
           {% if messages %}
             <ul>
             {% for message in messages %}
                 <li>{{ message }} </li>
             {% endfor %}
             </ul>
           {% endif %}
         {% endwith %}

          <form action="" method="post" name="calculator">

              {{ form.hidden_tag() }}
              <p>
                 {{form.username.label}} <br> <!-- sets the size of the input form -->
                 {{ form.username(class="signInForm", cols="24", rows="1")}}
                 <!-- highlights box red when the input doesnt pass the validation of the form -->
                 {% for error in form.username.errors %}
                   <span style="color: red;">[{{ error }}]</span>
                 {% endfor %}<br>
              </p>
              <p>
                {{form.password.label}} <br>
                {{ form.password(class="emailForm", cols="40", rows="6")}}
              {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}<br>
              </p>
              <p><input type="submit" value="Sign In"></p>
              <br>
              <a href="register">Register here</a>
          </form>
       </div>
     </div>
 </div>

 </div>


{% endblock %}
