{% extends "base.html" %}
 {% block content %}
 <h1 class="my-4">{{event.title}}
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <h1>{{user.name}}</h1>
    </div>

    <div class="col-md-4">
      <h3 class="my-3">{{event.title}}</h3>
      <h3 class="my-3">{{event.location}}</h3>
        <h4>{{event.venue}}</h4>
          <h2>Ticket ID: {{event.id}}</h2>
          <form>
<input type=button value="Print me!" onClick="javascript:window.print()">
</form>

    </div>

  </div>
{% endblock %}
